*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.right{
    padding-top: 5%;
    background-color: rgb(221, 232, 243);
    width: 50%;
}
.nav{
    background-color: rgb(5, 31, 31);
    color: black;
    text-decoration: none;
}
img{
    padding: 20%;
}
.navigation{
    margin-top: 10%;
    text-align: center;
    text-decoration : underline rgb(109, 109, 109);
    color: grey;
    padding-left: 9%;
    padding-right: 9%;
}
.navigation :hover{
    color: blue;
}
.left{
    padding-top: 5%;
    width: 45%;
    background-color: white;
    padding-left: 5%;
}
#head{
    color: #1534ff;
    height: 20%;
    font-weight: 300;
}
.welcome{
    color: #3953f8;
    height: 4%;
    font-weight: 400;
    padding-top: 1%;
    padding-bottom: 1%;
}
#mail{
    padding-top: 6%;
    font-weight: 400;
    color: rgb(195, 74, 195);
    font-family: sans-serif;
}
.emailsection{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 14%;
}
#mailbox{
    height: 50%;
    border: #717171 solid 1px;
}
label{
    display: block;
    margin-top: 5px;
    color: #333;
    font-size: 14px;
}
input{
    background-color: white;
    border: 0px;
}
input :focus{
    border: 1px solid #0066ff;
    box-shadow: 0 0 5px #0066ff;
}
.options{
    height: 7%;
    display: flex;
    width: 80%;
}
#remember{
    color: #333;
    padding-top: 1.4%;
    padding-right: 30%;
}
#forget{
    padding-left: 30%;
    color: #333;
    padding-top: 2.7%;
    text-decoration: none;
    text-align: right;
    font-size: smaller;
}
.buttons{
    margin-top: 4%;
    height: 28%;
}
#login{
    color: white;
    background-color: #0066ff;
    width: 18%;
}
#signup{
    color: #0066ff;
    background-color: #ffffff;
    width: 18%;
    border: solid 1px blue;
    border-radius: 4px;
    margin-left: 10%;
}
.others{
    color: #717171;
    font-weight: 300;
}
.link{
    color: #0066ff;
    text-decoration: none;
    padding-left: 13.5%;
}